.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }

@layer utilities {
    .text-stroke {
      -webkit-text-stroke: 1px white;
      text-stroke: 1px white;
    }
}

body{
    font-family: "Cinzel Decorative", serif;
}

#casas{
    overflow: hidden;
    >div{
        >div{
            flex: 1;
            transition: flex 0.2s;
            >div{
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        >div:hover{
            flex: 3;
            >div{
                display: flex;
            }
        }
    }
}

  